body
{
    margin: 0;
}

.window
{
    background-color: aliceblue;
    margin: 25px;
}

circle
{
    stroke-width: 1px;
    stroke: grey;
}

#coverWindow
{
    position: absolute;
    top: 25px;
    right: 25px;
    width: 260px;
    height: 360px;
    background-color: rgba(255,255,255,0.5);
    border: 1px solid rgba(38,48,68,0.3);
    border-radius: 1px;
    overflow: auto;
    padding: 10px;
}

#coverWindow img
{
    max-width: 200px;
    height: 200px;
    margin: 5px auto;
    display: block;
}

#coverBook
{
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.85rem;
}

#infoBook
{
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.attribute
{
    font-weight: 800;
}

#popup.invisible
{
    display: none;
}

#popup.visible
{
    position: absolute;
    top: 10%;
    left: 10%;
    min-height: 300px;
    background-color: white;
    width: 80%;
    height: 80%;
}